{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended",
    "plugin:jest/recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "prettier/flowtype",
    "prettier/react"
  ],
  "plugins": [
    "flowtype"
  ],
  "parser": "babel-eslint",
  "rules": {
    "no-console": 1,
    "react/jsx-filename-extension": 0,
    "func-style": [2, "expression"]
  }
}
