#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-right: 0px;
  padding-left: 0px;
}

#title-panel {
  flex: 9 1 auto;
}

#explanation {
  font-size: 0.7rem;
  flex: 1 1 auto;
  background-color: #61676e;
  padding: 1rem;
  p {
    text-indent: 1em;
    margin: 0px;
  }
}

.header {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
}

.contents {
  padding-top: 2rem;
  flex-grow: 1;

  .game {
    background: inherit;
    ol.wordList {
      li {
        padding-bottom: 0.2rem;
        padding-top: 0.2rem;
        &.active {
          background-color: #e6effa;
        }
      }
    }
  }
}
