#app {
  padding-right: 0px;
  padding-left: 0px;
}

.contents {
  //background: #f3ffe6;
  .game {
    background: inherit;
    border: none;
    ol.wordList {
      @border-width: 2px;
      li {
        ////ボーダーの幅も含めた高さを固定する方法
        //box-sizing: border-box;
        //height: 28px;
        //&.active {
        //  border-bottom: 2px solid black;
        //}
        padding-bottom: @border-width;
        &.active {
          background-color: #e6effa;
          padding-bottom: 0px;
          border-bottom: @border-width solid black;
          span.filled {
            color: blue;
            border-bottom: 2px solid blue;
          }
          span.missed {
            background: yellow;
          }
        }
      }
    }
  }
}
